
.yi-treeNode{
  padding:20px 10px;
  margin: 0 10px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction:column
}

.yi-treeNode-common{;
  border-bottom:1px solid #000;
}
.yi-treeNode-common::before{
  content: '';
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 2px;
  background: #888888;
  left: 50%;
  top: 0;
}

.yi-treeNode-root{
  border-bottom:1px solid #000;
}
.yi-treeNode-root::before{
  content: '';
  position: absolute;
  height: 50%;
  width: 2px;
  background: #888888;
  left: 50%;
  bottom: 0;
}

.yi-treeNode-leaf::before{
  content: '';
  position: absolute;
  height: 50%;
  width: 2px;
  background: #888888;
  left: 50%;
  top: 0;
}

.yi-tree-row{
  position: relative;
}
.yi-treeNode-edit{

}

.yi-nodeContent{
  z-index: 3;
  min-width: 120px;
  max-width: 160px;
  height: 60px;
  background: #e7edff;
  border: #000 1px solid;
  text-align: center;
  line-height: 60px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
