@radioHeight:30px;
.stripe{
    height:calc(100%-@radioHeight);
    background-size:100% 30px;
    &-horizontal{
        background: linear-gradient(#fb3 50%,#58a 50%);
    }
}

.form{
    height:@radioHeight;
}